<!DOCTYPE html>
<html>
<head>
    <title>회차셀 리스트</title>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery-ui.multidatespicker.css">
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery-ui.multidatespicker.js"></script>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        img {
            width: 100px; /* 이미지 크기 조정 */
            height: auto;
        }
    </style>
</head>
<body>
<h1>회차 이름</h1>
<h2>회차셀 리스트</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>회차셀명</th>
        <th>회차셀 상태</th>
        <th>회차 기간</th>
        <th>심사중</th>
        <th>예약 취소</th>
        <th>예약 관리</th>
    </tr>
    </thead>
    <tbody id="roundCellList">
    <!-- 여기에 예약 목록이 동적으로 삽입됩니다. -->
    </tbody>
</table>

<script>
    const urlParams = new URL(location.href).searchParams;
    const roundId = urlParams.get('roundId');

    $(document).ready(function () {

        $.ajax({
            url: '/roundcell/roundcelllist?roundId=' + roundId,
            type: 'GET',
            success: function (response) {
                console.log(response)
                loadRoundCellList(response, roundId);
            },
            error: function (error) {
                console.log('Error:', error);
                $('#roundCellList').html('<p>An error has occurred</p>');
            }
        });

    });

    function loadRoundCellList(roundCellList, roundId) {
        const tbody = document.getElementById("roundCellList");
        for (let i = 0; i < roundCellList.length; i++) {

            const item = roundCellList[i];
            const row = tbody.insertRow();

            //const roundCellDates = item.roundCellList.map(items => items.roundCellDate);

            const cell1 = row.insertCell();
            const a = document.createElement("a");
            a.href = "/roundcell/read?roundcellid=" + item.roundCellId;
            a.text = item.roundCellId;
            cell1.appendChild(a);

            const cell2 = row.insertCell();
            cell2.textContent = item.roundName;

            const cell3 = row.insertCell();
            //cell3.textContent = item.roundCellState;

            var selectElement = document.createElement("select");
            selectElement.id = "roundCellStateSelect" + item.roundCellId;

            // option 요소 생성 및 추가
            var option1 = document.createElement("option");
            option1.value = "SERVICE_WAIT";
            option1.text = "서비스대기";
            selectElement.appendChild(option1);

            var option2 = document.createElement("option");
            option2.value = "RESERVE_START";
            option2.text = "접수중";
            selectElement.appendChild(option2);

            var option3 = document.createElement("option");
            option3.value = "RESERVE_END";
            option3.text = "접수종료";
            selectElement.appendChild(option3);

            var option4 = document.createElement("option");
            option4.value = "RESERVE_COMPLETE";
            option4.text = "예약완료";
            selectElement.appendChild(option4);

            var option5 = document.createElement("option");
            option5.value = "SERVICE_END";
            option5.text = "서비스종료";
            selectElement.appendChild(option5);

            cell3.appendChild(selectElement);

            var roundCellStateUpdateButton = document.createElement("button");
            roundCellStateUpdateButton.id = "roundCellStateUpdateButton" + item.roundCellId;
            roundCellStateUpdateButton.textContent = "수정";
            cell3.append(roundCellStateUpdateButton);


            $('#roundCellStateUpdateButton' + item.roundCellId).click(function () {

                var data = {
                    roundCellId: item.roundCellId,
                    roundCellState: $('#roundCellStateSelect' + item.roundCellId).val()
                }

                console.log(data);

                $.ajax({
                    url: '/roundcell/roundcell/state',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    type: 'PUT',
                    success: function (response) {
                        console.log(response);
                        location.reload(true);
                    },
                    error: function (error) {
                        console.log('Error:', error);
                        //$('#roundCellList').html('<p>An error has occurred</p>');
                    }
                });
            });

            $('#roundCellStateSelect' + item.roundCellId).val(item.roundCellState);


            const cell4 = row.insertCell();
            cell4.textContent = item.roundCellDate;

            const cell5 = row.insertCell();
            cell5.textContent = item.judge;

            const cell6 = row.insertCell();
            cell6.textContent = item.cancel;

            const cell7 = row.insertCell();
            var reserveListButton = document.createElement("button");
            reserveListButton.id = "reserveListButton" + item.roundCellId;
            reserveListButton.textContent = "예약 관리";
            cell7.append(reserveListButton);

            $('#reserveListButton' + item.roundCellId).click(function () {
                location.href = "/reserve/list?roundcellid=" + item.roundCellId;
            });


        }
    }

</script>
</body>
</html>