<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>index</h2>
<input id="logoutBtn" style="display :inline-block;" type="submit" class="btn btn-info active" value="로그아웃" onclick="location.href='/logout'"/><br>
<input id="swaggerBtn" style="display :inline-block;" type="submit" class="btn btn-info active" value="Swagger" onclick="location.href='/swagger-ui/index.html'"/>
<input id="adminBtn" style="display :inline-block;" type="submit" class="btn btn-info active" value="어드민" onclick="location.href='/admin'"/>
<input id="reserveBtn" style="display :inline-block;" type="submit" class="btn btn-info active" value="예약 관리" onclick="location.href='/reserve'"/><br>
</body>
</html>