<!DOCTYPE html>
<html>
<head>
    <title>Reservation Form</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery-ui.multidatespicker.css">
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <!--<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery-ui.multidatespicker.js"></script>
    <script src="/js/jquery-clockpicker.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-clockpicker.min.css">
</head>
<body>

<label for="reservationId">Reservation ID:</label>
<input type="text" id="reservationId">
<button id="loadData">조회</button> <button id="reservationFormSubmit" type="submit">수정</button>


<form id="reservationForm">
    <label for="svcStateName">Service State Name:</label>
    <select id="svcStateName">
        <option value="SERVICE_WAIT">서비스 대기</option>
        <option value="RESERVE_START">접수 중</option>
        <option value="RESERVE_END">접수 종료</option>
        <option value="RESERVE_CLOSE">예약 마감</option>
        <option value="SERVICE_END">서비스 종료</option>
    </select><br>

    <label for="imageUrl">Image URL:</label>
    <input type="text" id="imageUrl" placeholder="http://example.com/image.jpg"><br>

    <label for="svcName">Service Name:</label>
    <input type="text" id="svcName" placeholder="서비스 이름"><br>

    <label for="placeName">Place Name:</label>
    <input type="text" id="placeName" placeholder="강남구박물관"><br>

    <label for="areaName">Area Name:</label>
    <input type="text" id="areaName" placeholder="강남구"><br>

    <label for="userTargetInfo">User Target Info:</label>
    <input type="text" id="userTargetInfo" placeholder="제한없음"><br>

    <label for="rcptDate">예약 기간:</label>
    <div id="rcptDate"></div>
    <br>

    <label for="rcptBeginDateTime">예약 시간</label>
    <input id="rcptBeginDateTime" value="" data-default="00:00">~
    <input id="rcptEndDateTime" value="" data-default="23:59"><br>
    <!--<input type="text" id="rcptBeginDate" placeholder="2024-01-01 08:00:00.0"><br>

    <label for="rcptEndDate">Receipt End Date:</label>
    <input type="text" id="rcptEndDate" placeholder="2024-01-01 08:00:00.0"><br>-->

    <!--<label for="svcOpenBeginDate">Service Open Begin Date:</label>
    <input type="text" id="svcOpenBeginDate" placeholder="2024-01-01 08:00:00.0"><br>-->
    <label for="svcOpenDate">서비스 오픈기간:</label>
    <div id="svcOpenDate"></div>
    <br>
    <label for="svcOpenBeginTime">서비스 오픈시간:</label>
    <input id="svcOpenBeginTime" value="" data-default="00:00">~
    <input id="svcOpenEndTime" value="" data-default="23:59"><br>

    <!--<label for="svcOpenEndDate">Service Open End Date:</label>
    <input type="text" id="svcOpenEndDate" placeholder="2024-01-01 08:00:00.0"><br>

    <label for="svcUseBeginTime">Service Use Begin Time:</label>
    <input type="text" id="svcUseBeginTime" placeholder="09:00"><br>-->

    <label for="svcUseBeginTime">서비스 이용시간:</label>
    <input id="svcUseBeginTime" value="" data-default="09:00">~
    <input id="svcUseEndTime" value="" data-default="18:00"><br>

    <!--<label for="svcUseEndTime">Service Use End Time:</label>
    <input type="text" id="svcUseEndTime" placeholder="17:00"><br>-->

    <label for="placeX">Place X Coordinate:</label>
    <input type="text" id="placeX" placeholder="123.456"><br>

    <label for="placeY">Place Y Coordinate:</label>
    <input type="text" id="placeY" placeholder="987.654"><br>

    <label for="detailInfo">Detail Info:</label>
    <textarea id="detailInfo" placeholder="상세내용 작성"></textarea><br>

    <label for="revokeStandDayName">Revoke Stand Day Name:</label>
    <input type="text" id="revokeStandDayName" placeholder="7일전"><br>


</form>

<script>
    $(document).ready(function () {

        var selectedDates1 = [];
        var selectedDates2 = [];

        const urlParams = new URL(location.href).searchParams;
        const id = urlParams.get('id');
        getData(selectedDates1, selectedDates2, id);

        $('#rcptBeginDateTime').clockpicker({
            autoclose: true
        });
        $('#rcptEndDateTime').clockpicker({
            autoclose: true
        });
        $('#svcOpenBeginTime').clockpicker({
            autoclose: true
        });
        $('#svcOpenEndTime').clockpicker({
            autoclose: true
        });
        $('#svcUseBeginTime').clockpicker({
            autoclose: true
        });
        $('#svcUseEndTime').clockpicker({
            autoclose: true
        });

        $('#rcptDate').multiDatesPicker({
            dateFormat: "yy-mm-dd",
            numberOfMonths: [1, 2],
            onSelect: function (dateText, inst) {
                selectedDates1.push(dateText);
                if (selectedDates1.length === 2) {
                    // 두 날짜 사이의 모든 날짜 선택
                    var startDate = new Date(selectedDates1[0]);
                    var endDate = new Date(selectedDates1[1]);

                    if (startDate > endDate) {
                        var temp = startDate;
                        startDate = endDate;
                        endDate = temp;
                    }

                    var currentDate = new Date(startDate);
                    var rangeDates = [];

                    while (currentDate <= endDate) {
                        rangeDates.push($.datepicker.formatDate('yy-mm-dd', currentDate));
                        currentDate.setDate(currentDate.getDate() + 1);
                    }

                    $(this).multiDatesPicker('resetDates', 'picked');
                    $(this).multiDatesPicker('addDates', rangeDates);
                } else if (selectedDates1.length === 3) {
                    // 세 번째 선택 시 리셋
                    $(this).multiDatesPicker('resetDates', 'picked');
                    selectedDates1 = [];
                    selectedDates1.push(dateText);
                }
            }
        });

        $('#svcOpenDate').multiDatesPicker({
            dateFormat: "yy-mm-dd",
            numberOfMonths: [1, 2],
            onSelect: function (dateText, inst) {
                selectedDates2.push(dateText);
                if (selectedDates2.length === 2) {
                    // 두 날짜 사이의 모든 날짜 선택
                    var startDate = new Date(selectedDates2[0]);
                    var endDate = new Date(selectedDates2[1]);

                    if (startDate > endDate) {
                        var temp = startDate;
                        startDate = endDate;
                        endDate = temp;
                    }

                    var currentDate = new Date(startDate);
                    var rangeDates = [];

                    while (currentDate <= endDate) {
                        rangeDates.push($.datepicker.formatDate('yy-mm-dd', currentDate));
                        currentDate.setDate(currentDate.getDate() + 1);
                    }

                    $(this).multiDatesPicker('resetDates', 'picked');
                    $(this).multiDatesPicker('addDates', rangeDates);
                } else if (selectedDates2.length === 3) {
                    // 세 번째 선택 시 리셋
                    $(this).multiDatesPicker('resetDates', 'picked');
                    selectedDates2 = [];
                    selectedDates2.push(dateText);
                }
            }
        });


        $('#loadData').click(function () {
            getData(selectedDates1, selectedDates2, $('#reservationId').val());
        });

        /*
        $('#reservationForm').submit(function (event) {
            event.preventDefault();
            submitReservationForm();
        });

         */

        $('#reservationFormSubmit').click(function (){
            submitReservationForm();
        })

        // 현재날짜로 이동하는 현상을 방지 하는 코드
        /*
        $.datepicker._selectDateOverload = $.datepicker._selectDate;
        $.datepicker._selectDate = function (id, dateStr) {
            var target = $(id);
            var inst = this._getInst(target[0]);
            inst.inline = true;
            $.datepicker._selectDateOverload(id, dateStr);
            inst.inline = false;

            if (target[0].multiDatesPicker != null) {
                target[0].multiDatesPicker.changed = false;
            } else {
                target.multiDatesPicker.changed = true;
            }
            this._updateDatepicker(inst);

            if (target[0].multiDatesPicker == undefined) {
                this._hideDatepicker();
                target[0].blur();
            }
        };
*/

    });

    function getData(selectedDates1, selectedDates2, id) {
        $.ajax({
            url: '/reserve/reserve?id=' + id,
            type: 'GET',
            success: function (response) {
                console.log(response)
                displayData(selectedDates1, selectedDates2, response);
            },
            error: function (error) {
                console.log('Error:', error);
                $('#reservationDetails').html('<p>An error has occurred</p>');
            }
        });
    }

    function displayData(selectedDates1, selectedDates2, data) {
        $('#reservationId').val(data.id);
        $('#svcStateName').val(data.svcStateName);
        $('#imageUrl').val(data.imageUrl);
        $('#svcName').val(data.svcName);
        $('#placeName').val(data.placeName);
        $('#areaName').val(data.areaName);
        $('#userTargetInfo').val(data.userTargetInfo);

        var rangeDates = getDatesInRange(data.rcptBeginDate, data.rcptEndDate);

        $('#rcptDate').multiDatesPicker('resetDates', 'picked');
        $('#rcptDate').multiDatesPicker('destroy');
        $('#rcptDate').multiDatesPicker({
            dateFormat: "yy-mm-dd",
            numberOfMonths: [1, 2],
            addDates: rangeDates,
            defaultDate: data.rcptBeginDate,
            onSelect: function (dateText, inst) {
                selectedDates1.push(dateText);
                if (selectedDates1.length === 2) {
                    // 두 날짜 사이의 모든 날짜 선택
                    var startDate = new Date(selectedDates1[0]);
                    var endDate = new Date(selectedDates1[1]);

                    if (startDate > endDate) {
                        var temp = startDate;
                        startDate = endDate;
                        endDate = temp;
                    }

                    var currentDate = new Date(startDate);
                    var rangeDates = [];

                    while (currentDate <= endDate) {
                        rangeDates.push($.datepicker.formatDate('yy-mm-dd', currentDate));
                        currentDate.setDate(currentDate.getDate() + 1);
                    }

                    $(this).multiDatesPicker('resetDates', 'picked');
                    $(this).multiDatesPicker('addDates', rangeDates);
                } else if (selectedDates1.length === 3) {
                    // 세 번째 선택 시 리셋
                    $(this).multiDatesPicker('resetDates', 'picked');
                    selectedDates1 = [];
                    selectedDates1.push(dateText);
                }
            }
        });

        let timePart = data.rcptBeginDate.split(" ")[1]; // "00:00:00.0" 부분을 분리
        let hhmm = timePart.substring(0, 5); // "00:00" 부분만 추출
        $('#rcptBeginDateTime').val(hhmm);

        timePart = data.rcptEndDate.split(" ")[1]; // "00:00:00.0" 부분을 분리
        hhmm = timePart.substring(0, 5); // "00:00" 부분만 추출
        $('#rcptEndDateTime').val(hhmm);

        var rangeDates = getDatesInRange(data.svcOpenBeginDate, data.svcOpenEndDate);

        $('#svcOpenDate').multiDatesPicker('resetDates', 'picked');
        $('#svcOpenDate').multiDatesPicker('destroy');
        $('#svcOpenDate').multiDatesPicker({
            dateFormat: "yy-mm-dd",
            numberOfMonths: [1, 2],
            addDates: rangeDates,
            defaultDate: data.svcOpenBeginDate,
            onSelect: function (dateText, inst) {
                selectedDates2.push(dateText);
                if (selectedDates2.length === 2) {
                    // 두 날짜 사이의 모든 날짜 선택
                    var startDate = new Date(selectedDates2[0]);
                    var endDate = new Date(selectedDates2[1]);

                    if (startDate > endDate) {
                        var temp = startDate;
                        startDate = endDate;
                        endDate = temp;
                    }

                    var currentDate = new Date(startDate);
                    var rangeDates = [];

                    while (currentDate <= endDate) {
                        rangeDates.push($.datepicker.formatDate('yy-mm-dd', currentDate));
                        currentDate.setDate(currentDate.getDate() + 1);
                    }

                    $(this).multiDatesPicker('resetDates', 'picked');
                    $(this).multiDatesPicker('addDates', rangeDates);
                } else if (selectedDates2.length === 3) {
                    // 세 번째 선택 시 리셋
                    $(this).multiDatesPicker('resetDates', 'picked');
                    selectedDates2 = [];
                    selectedDates2.push(dateText);
                }
            }
        });


        timePart = data.svcOpenBeginDate.split(" ")[1]; // "00:00:00.0" 부분을 분리
        hhmm = timePart.substring(0, 5); // "00:00" 부분만 추출
        $('#svcOpenBeginTime').val(hhmm);

        timePart = data.svcOpenEndDate.split(" ")[1]; // "00:00:00.0" 부분을 분리
        hhmm = timePart.substring(0, 5); // "00:00" 부분만 추출
        $('#svcOpenEndTime').val(hhmm);

        $('#svcUseBeginTime').val(data.svcUseBeginTime);
        $('#svcUseEndTime').val(data.svcUseEndTime);
        $('#placeX').val(data.placeX);
        $('#placeY').val(data.placeY);
        $('#detailInfo').val(data.detailInfo);
        $('#revokeStandDayName').val(data.revokeStandDayName);
    }

    function submitReservationForm() {

        var rcptDate = $('#rcptDate').multiDatesPicker('getDates');
        var svcOpenDate = $('#svcOpenDate').multiDatesPicker('getDates');

        var rcptBeginDate = rcptDate[0] + " " + $('#rcptBeginDateTime').val() + ":00.0";
        var rcptEndDate = rcptDate[rcptDate.length - 1] + " " + $('#rcptEndDateTime').val() + ":00.0";
        var svcOpenBeginDate = svcOpenDate[0] + " " + $('#svcOpenBeginTime').val() + ":00.0";
        var svcOpenEndDate = svcOpenDate[svcOpenDate.length - 1] + " " + $('#svcOpenEndTime').val() + ":00.0";

        var formData = {
            id: $('#reservationId').val(),
            svcStateName: $('#svcStateName').val(),
            imageUrl: $('#imageUrl').val(),
            svcName: $('#svcName').val(),
            placeName: $('#placeName').val(),
            areaName: $('#areaName').val(),
            userTargetInfo: $('#userTargetInfo').val(),
            rcptBeginDate: rcptBeginDate,
            rcptEndDate: rcptEndDate,
            svcOpenBeginDate: svcOpenBeginDate,
            svcOpenEndDate: svcOpenEndDate,
            svcUseBeginTime: $('#svcUseBeginTime').val(), // 서비스이용 시작시간
            svcUseEndTime: $('#svcUseEndTime').val(), // 서비스이용 종료시간
            placeX: $('#placeX').val(),
            placeY: $('#placeY').val(),
            detailInfo: $('#detailInfo').val(),
            revokeStandDayName: $('#revokeStandDayName').val()
        };

        console.log(formData);

        $.ajax({
            url: '/reserve/reserve',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            success: function (response) {
                console.log('Success:', response);
                alert(response);
                location.href = "/reserve/update?id=" + $('#reservationId').val();
            },
            error: function (xhr, status, error) {
                console.log('Error:', xhr.responseText);
                alert('Error submitting reservation.');
            }
        });
    }

    function getDatesInRange(startDate, endDate) {
        var dates = [];
        var currentDate = new Date(startDate);
        var endDate1 = new Date(endDate);

        while (currentDate <= endDate1) {
            dates.push(new Date(currentDate));
            currentDate.setDate(currentDate.getDate() + 1);
        }

        return dates;
    }
</script>
</body>
</html>
